<?xml version="1.0" encoding="UTF-8"?>
<robot name="small_blue_cone">
  <joint name="joint_root-root_Camera_Camera" type="fixed">
    <origin xyz="7.3588915 -6.925791 4.958309 " rpy="1.109319 0. 0.8149282"/>
    <parent link="root"/>
    <child link="root_Camera_Camera"/>
  </joint>
  <link name="root">
    <visual>
      <origin xyz="0. 0. 0.013" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/Cylinder_001.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="root_Camera_Camera"/>
</robot>
